html
  head
    title= 'My Demo App'
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
  body
    .container
      .jumbotron
        h1 Hello World!
        p How did I get here?
        br
        p Automated Deploy Workflow
        p Code -> Github -> CircleCI -> Docker Hub -> Docker Cloud -> AWS
        h1 Pushing up broken code should NOT trigger the CI/CD workflow
